data/videos/raw_videos/*.mp4
data/multi_view_embeddings/*
data/single_view_embeddings/*
code/*/log*
code/*/wandb/*
code/*/nohup.out
results/*/wandb_results/*/*.json
code/project_dir.txt
code/project_name.txt
code/wandb_username.txt